@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800;900&display=swap');

@layer base {
  body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #2d2b03;
    margin: 0;
    overflow-x: hidden;
  }
}